<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>mysearch</servlet-name>
		<servlet-class>searchengine.servlet.SubmitCrawlerTask</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>searchengine</servlet-name>
		<servlet-class>searchengine.servlet.SearchengineConfigServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>querysuggestion</servlet-name>
		<servlet-class>searchengine.servlet.QuerySuggestion</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>adclick</servlet-name>
		<servlet-class>searchengine.servlet.AdClick</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mysearch</servlet-name>
		<url-pattern>/searchengine/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>searchengine</servlet-name>
		<url-pattern>/searchengine/searchengine</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>querysuggestion</servlet-name>
		<url-pattern>/searchengine/querysuggestion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adclick</servlet-name>
		<url-pattern>/searchengine/adclick</url-pattern>
	</servlet-mapping>
</web-app>
